@import 'src/scss/variables';

.current-color {
  display: block;
  width: 3rem;
  height: 1rem;
  border-radius: $border-radius;
}

.palette {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
}

.palette-item {
  display: block;
  width: 15%;
  margin: 0.25rem;
  flex: 1 0 auto;
  height:auto;
  border-radius: $border-radius;
  cursor: pointer;

  &:before {
    content:'';
    float:left;
    padding-top:100%;
  }

  &:focus {
    position: relative;
    outline: 2px solid #000;
    z-index: 1;
  }
}
