<div fxLayout="row" fxLayoutAlign="start center">
  <h1 id="sidenav-node-display-name">{{ nodeEntity.data.displayName }}</h1>
  <div
    id="sidenav-node-label"
    [ngStyle]="{
      'border': 'thin solid',
      'border-radius': '10px',
      'border-color': legend.get(nodeEntity.data.primaryLabel)[0],
      'color': legend.get(nodeEntity.data.primaryLabel)[0],
      'margin-left': '10px',
      'padding': '5px'
    }"
  >{{ nodeEntity.data.primaryLabel }} </div>
</div>
<span>{{ nodeEntity.data.data.eid }}</span>
