<app-policy-viewer>
  <h2>Copyright Infringement Policy</h2>

  <p>This document describes the policy and procedures Lifelike follows in responding to notifications of alleged copyright infringements on Lifelike platform.</p>
  <p>This policy applies to all individuals who use Lifelike to share files.</p>
  <p>Upon formal notification or due to detection, the Lifelike team will take all necessary means, including but not limited to temporary disconnection from internet access, to stop illegal sharing of copyrighted material on its network by identified users.</p>
  <p>This is in accord with the Digital Millennium Copyright Act (DMCA), which provides internet platforms with some protections if individual members of the platform violate the law. For Lifelike to maintain this protection, it must expeditiously take down or otherwise block access to infringing material whenever it is brought to our attention.</p>

  <h3>About Lifelike's Copyright Infringement Form</h3>

  <p>Lifelike's Copyright Infringement form is intended for use by intellectual property rights owners and their agents to notify Lifelike of alleged intellectual property infringements such as copyright and trademark concerns. If you are not an intellectual property rights owner or their agent, Lifelike will not be able to process complaints submitted through this form. </p>
  <p>Before you submit a takedown request, you should know:</p>
  <ul>
    <li>Copyright exceptions: You need to consider whether fair use, fair dealing, or a similar exception to copyright law applies. If an exception applies, then the takedown request you submit would be invalid.</li>
  </ul>

  <p>If you wish to submit a Copyright Infringement form, please follow <a href="/report/copyright-infringement/form">this link</a>.</p>
</app-policy-viewer>