<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <app-modal-header (cancel)="cancel()">
      {{ title }}
    </app-modal-header>

    <app-modal-body>
      <ng-container *ngIf="promptObject">
        <app-form-row for="parent" [label]="parentLabel" [control]="form.get('parent')"
                      *ngIf="promptParent">
          <div class="d-flex align-items-center text-truncate">
            <button type="button" class="btn btn-secondary mr-2" (click)="showParentDialog()">
              Browse...
            </button>
            <div class="text-truncate"
                 *ngIf="form.get('parent').value != null; else noParentChosen">
              <i class="fa fa-fw fa-folder text-icon"></i>
              {{ form.get('parent').value.effectiveName }}
            </div>
            <ng-template #noParentChosen>
            </ng-template>
          </div>
        </app-form-row>

        <app-form-row for="filename" label="Filename" [control]="form.get('filename')">
          <input type="text" formControlName="filename" id="filename"
                 [appFormInput]="form.get('filename')"
                 appAutoFocus [autoSelect]="true">
        </app-form-row>

        <app-form-row for="description" label="Description" [control]="form.get('description')">
          <textarea formControlName="description" id="description"
                    [appFormInput]="form.get('description')"
                    rows="5"></textarea>
        </app-form-row>

        <app-form-row [control]="form.get('public')">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="public"
                   formControlName="public">
            <label class="custom-control-label" for="public">Publicly share with the
              community</label>
          </div>
        </app-form-row>
      </ng-container>

      <ng-template #enrichmentParamsFields>
        <app-form-row for="entitiesList" label="Gene Names" [control]="form.get('entitiesList')">
          <textarea formControlName="entitiesList" id="entitiesList"
                    [appFormInput]="form.get('entitiesList')"
                    rows="5" placeholder="One gene per line"></textarea>
        </app-form-row>

        <app-form-row
          for="organism"
          label="Organism"
          [control]="form.get('organism')"
        >
          <app-organism-autocomplete
            formId="organism"
            [organismTaxId]="form.get('organism').value ? form.get('organism').value.tax_id : null"
            (organismPicked)="organismChanged($event)"
          ></app-organism-autocomplete>
        </app-form-row>

        <app-form-row for="domainsList" label="Domains" [control]="form.get('domainsList')">
          <div *ngFor="let choice of checks; let i=index">
            <label>
              <input type="checkbox" [value]="choice" (change)="onCheckChange($event)"
                     [checked]="domains.includes(choice)">
              {{choice}}
            </label>
          </div>
        </app-form-row>
      </ng-template>

      <fieldset class="fieldset-properties mt-4" *ngIf="promptObject">
        <legend>Enrichment Table Parameters</legend>
        <ng-container *ngTemplateOutlet="enrichmentParamsFields"></ng-container>
      </fieldset>

      <ng-container *ngTemplateOutlet="!promptObject ? enrichmentParamsFields : null"></ng-container>

      <ng-container *ngIf="promptObject">
        <fieldset class="fieldset-properties mt-4">
          <legend>Annotation Options</legend>
          <app-form-row>
            <ngb-accordion>
              <ngb-panel title="Annotation Configurations">
                <ng-template ngbPanelContent>
                  <app-annotation-config-table
                    [headers]="annotationMethods"
                    [models]="annotationModels"
                    [form]="form.get('annotationConfigs')"
                    [fileType]="object.mimeType"></app-annotation-config-table>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </app-form-row>
        </fieldset>
      </ng-container>
    </app-modal-body>

    <app-modal-footer>
      <button type="button" class="btn btn-secondary mr-2" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid" >{{ submitButtonLabel }}</button>
    </app-modal-footer>
  </div>
</form>
