.justify-content-center {
  display: flex;
  justify-content: center;
}

.legend {
  display: grid;
  grid-template-columns: 4ch 1fr;
  margin: 0;
}

.space-cards {
  display: flex;
  flex-direction: column;
  margin: -15px 0;

  & > .card {
    margin: 15px 0;
  }
}
