<div *ngIf="error; else notError">
  <span>Could not load snippet data for this cluster. Possible reasons include:</span>
  <ul>
    <li>Could not find the cluster on the network</li>
    <li>An error occurred on the server</li>
  </ul>
</div>
<ng-template #notError>
  <div *ngIf="clusterEntity && legend; else loadingSpinner">
    <app-snippet-display
      [snippetData]="clusterEntity.snippetData"
      [queryData]="clusterEntity.queryData"
      [totalResults]="clusterEntity.totalResults"
      [isNewEntity]="isNewEntity"
      [legend]="legend"
      (requestNewPageEmitter)="requestPage($event)"
    ></app-snippet-display>
  </div>
  <ng-template #loadingSpinner>
    <div id="loading-spinner-container" class="d-flex justify-content-center align-items-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
</ng-template>
