<form [formGroup]="form" (ngSubmit)="changePassword()">
  <app-form-row for="old-password" label="Old Password" [control]="form.get('oldPassword')">
    <input type="password" formControlName="oldPassword" id="old-password" [appFormInput]="form.get('oldPassword')" appAutoFocus>
  </app-form-row>

  <app-form-row for="password" label="Password" [control]="form.get('password')">
    <input type="password" formControlName="password" id="password" [appFormInput]="form.get('password')">
  </app-form-row>

  <app-form-row for="confirm-password" label="Confirm Password" [control]="form.get('passwordConfirm')" [errors]="errors">
    <input type="password" formControlName="passwordConfirm" id="confirm-password" [appFormInput]="form.get('passwordConfirm')">
  </app-form-row>

  <div class="mt-4">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Change Password
    </button>
  </div>
</form>
