<ng-container *ngIf="(currentUsers$ | async) as user">
  <div class="module" appContainerBreakpoints>
    <div class="module-header">
      <div class="module-title-bar">
        <div class="module-title">
          User Settings
        </div>
      </div>
    </div>

    <div class="module-body flex-fill overflow-auto">
      <div class="module-body-container">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
          <li ngbNavItem="profile">
            <a ngbNavLink>Profile</a>
            <ng-template ngbNavContent>
              <app-user-profile></app-user-profile>
            </ng-template>
          </li>

          <li ngbNavItem="security">
            <ng-container *ngIf="oauthEnabled; else basicPasswordChange">
              <a class="nav-link" [href]="oauthPasswordChangeLink" target="_blank">Password <i class="fas fa-external-link-alt ml-1"></i></a>
            </ng-container>
            <ng-template #basicPasswordChange>
              <a ngbNavLink>Password</a>
              <ng-template ngbNavContent>
                <app-user-security [user]="user"></app-user-security>
              </ng-template>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-4"></div>
      </div>
    </div>
  </div>
</ng-container>
