<form class="d-flex flex-column justify-content-between">
    <fieldset class="fieldset-properties mt-2">
        <legend container="body"
                ngbTooltip="Click a checkbox to filter annotations of that type"
                placement="top left right">Link
            Details:
        </legend>
        <ngb-accordion ngbAccordion activeIds="l_desc">
            <ngb-panel id="l_desc" title="Description">
                <ng-template ngbPanelContent>
                    <p [innerHTML]="entity.description" [style.whiteSpace]="'pre-wrap'"></p>
                </ng-template>
            </ngb-panel>
            <ngb-panel *ngIf="!entity._multiple_values else multipleValues" [disabled]="true">
                <ng-template disabled="true" ngbPanelHeader>
                    <app-button-with-selectable-text ngbPanelToggle [disabled]="true">
                        <b title>Value</b>
                        {{ parseProperty(entity._value) }}
                    </app-button-with-selectable-text>
                </ng-template>
            </ngb-panel>
            <ng-template #multipleValues>
                <ngb-panel title="Value" cardClass="filled-card">
                    <ng-template ngbPanelContent>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex flex-wrap justify-content-between">
                                <b>Source value</b>
                                {{ parseProperty(entity._multiple_values[0]) }}
                            </li>
                            <li class="list-group-item d-flex flex-wrap justify-content-between">
                                <b>Target value</b>
                                {{ parseProperty(entity._multiple_values[1]) }}
                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>
            </ng-template>
            <ngb-panel *ngIf="entity._traces" cardClass="filled-card" title="Traces">
                <ng-template ngbPanelContent>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex flex-wrap justify-content-between trace" *ngFor="let trace of
                        entity._traces">
                            <div class="property">
                                <span>Source</span>
                                <span>{{ getNodeById(trace.source).description }}</span>
                            </div>
                            <div class="property">
                                <span>Target</span>
                                <span>{{ getNodeById(trace.target).description }}</span>
                            </div>
                            <div class="property">
                                <span>Group</span>
                                <span>{{ trace._group }}</span>
                            </div>
                            <button *ngIf="trace.detail_edges" (click)="openTraceView(trace)"
                                    class="btn btn-block btn-outline-primary">
                                Show detailed network
                            </button>
                        </li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel cardClass="filled-card" title="Properties">
                <ng-template ngbPanelContent>
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let property of options.linkValueAccessors | keyvalue"
                            [ngClass]="{
                                'list-group-item': true,
                                 'd-flex': true,
                                 'flex-wrap': true,
                                 'justify-content-between': true,
                                active: property.key === state.linkValueAccessorId
                              }"
                        ><b>{{ property.value.description }}</b>{{parseProperty(entity[property.value.description])}}
                        </li>
                        <li *ngIf="entity._folded"
                            class="list-group-item d-flex justify-content-between"
                        >
                            <b>Folded</b>
                            True
                        </li>
                    </ul>
                </ng-template>
            </ngb-panel>
            <ngb-panel title="Details">
                <ng-template ngbPanelContent>
                    <app-object-explorer [dataSource]="entity"></app-object-explorer>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </fieldset>
</form>
