.snippet-result {
  white-space: normal;
}

.description {
  width: 95%;
  white-space: pre-line;
  margin-left: 20px;
  color: #6c757d;
}

.description-title {
  font-weight: 600;
  margin-top: 10px;
}

.snippet-panel-header {
  color: #0c8caa;
  font-size: 20px;
  line-height: 1.2;
}

.uploaded-and-date {
  margin-left: 20px;
}

.snippet-paragraph {
  margin: 10px 30px 0 20px;
  color: black;
}

.snippet-link {
  margin-right: 10px;
}

.panel-button {
  margin-left: 20px;
}

.open-panel {
  color: white;
  background: #0c8caa;
}

.card {
  margin-bottom: 10px;
}

.card-header {
  background: transparent;
}

.card-body {
  background: rgba(0, 0, 0, 0.03);
}

.snippet-title {
  margin-top: 5px;
}
