<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="file">Upload user manual</label>
    <input type="file" name="file" class="form-control-file" id="file"
            accept="application/pdf" (change)="fileChanged($event)">
  </div>
  <button type="submit" class="btn btn-primary">
    Upload
  </button>
</form>
<div>
  <button type="button" class="btn btn-primary mt-3" (click)="updateEnrichment()">Update Enrichment</button>
  <p>This is used for fixing enrichment tables which could not previously open.</p>
</div>


