<form [formGroup]="form" (ngSubmit)="submit()">
  <app-modal-header (cancel)="cancel()">
    Update User
  </app-modal-header>

  <app-modal-body>
    <app-form-row for="username" label="Username" [control]="form.get('username')">
      <input type="text" formControlName="username" id="username" [appFormInput]="form.get('username')">
    </app-form-row>
    <app-form-row for="first-name" label="First Name" [control]="form.get('firstName')">
      <input type="text" formControlName="firstName" id="first-name" [appFormInput]="form.get('firstName')">
    </app-form-row>

    <app-form-row for="last-name" label="Last Name" [control]="form.get('lastName')">
      <input type="text" formControlName="lastName" id="last-name" [appFormInput]="form.get('lastName')">
    </app-form-row>
    <app-form-row for="user-roles" label="User roles" [control]="form.get('roles')">
      <select class="custom-select" formControlName="roles" id="user-roles" [appFormInput]="form.get('roles')">
        <option *ngFor="let role of roles" [ngValue]="role" >{{ role | titlecase}} </option>
     </select>
    </app-form-row>
  </app-modal-body>

  <app-modal-footer>
    <button type="button" class="btn btn-secondary mr-2" (click)="cancel()">Cancel</button>
    <button type="submit" [disabled]="!form.dirty" class="btn btn-primary">Update</button>
  </app-modal-footer>
</form>
