<ng-container *ngIf="userError$ | async as userError; else errorLoading">
  <div style="max-width: 500px" class="card bg-light">
    <div class="card-body">
      <div [ngSwitch]="type">
        <i *ngSwitchCase="messageType.Error" class="fa fa-exclamation-circle fa-3x text-danger"></i>
      </div>
      <ng-container *ngIf="userError != null">
        <div class="mt-4">
          <h5>{{ userError.title }}</h5>
        </div>

        <div class="mt-3">
          {{ userError.message }}
        </div>

        <div *ngFor="let msg of userError.additionalMsgs" class="mt-2">
          <p>{{msg}}</p>
        </div>

      </ng-container>
      <div class="mt-4">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  <ng-container *ngIf="userError != null">
    <div *ngIf="userError.stacktrace" class="detail mt-4">
      <div class="detail-title">Technical Details</div>
      <pre>{{ userError.stacktrace }}</pre>
    </div>
  </ng-container>
</ng-container>
<ng-template #errorLoading>
  <div style="max-width: 500px" class="card bg-light">
    <div class="card-body">
      <div>
        <i class="fa fa-exclamation-circle fa-3x text-danger"></i>
      </div>
      <div class="mt-4">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
               aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
