<ng-container *ngIf="(loadTask.status$ | async) as status">
  <ng-container *ngIf="status.failedErrorShown; else noError">
    <div class="module-section">
      <div class="module-section-header">
        <h2 class="module-section-header-title">Associated Maps</h2>
      </div>

      <div class="module-section-body">
        <app-module-error [error]="status.error">
          <button class="btn btn-primary" type="button" (click)="refresh()">Retry</button>
        </app-module-error>
      </div>
    </div>
  </ng-container>

  <ng-template #noError>
    <ng-container *ngIf="status.placeholdersShown">
      <div class="module-section">
        <div class="module-section-header">
          <h2 class="module-section-header-title"><span class="placeholder-box">Loading loading</span></h2>
        </div>

        <div class="module-section-body">
          <div class="mb-3">
            <span class="placeholder-box">Loading loading loading loading</span>
          </div>

          <div class="tile-deck">
            <div *ngFor="let p of [0, 1, 2]" class="tile d-flex flex-column justify-content-center align-items-center">
              <div class="flex-fill d-flex align-items-center">
            <span class="placeholder-box">
              <i class="fas fa-layer-group fa-4x"></i>
            </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="status.resultsShown">
      <div class="module-section">
        <div class="module-section-header d-flex align-items-center">
          <h2 class="module-section-header-title mr-2">
            Associated Maps
            <span ngbTooltip="Maps that have a link to this file will appear here."
                  container="body">
              <i class="fa fa-question-circle text-muted"></i>
            </span>
          </h2>

          <div class="d-flex ml-auto">
            <button type="button" class="btn btn-secondary" (click)="openMapCreateDialog()">
              <i class="fa fa-fw fa-plus-circle" aria-hidden="true"></i> New Map
            </button>

            <button class="btn btn-secondary ml-2"
                    ngbTooltip="Reload List"
                    container="body"
                    placement="bottom top left right"
                    (click)="refresh()">
              <i class="fa fa-fw fa-sync"></i>
            </button>
          </div>
        </div>

        <div class="module-section-body">
          <ng-container *ngIf="list.results.length; else noMapResults">
            <app-object-tile-deck [objects]="list.results" [forEditing]="false"
                                  [newTabObject]="true"></app-object-tile-deck>
          </ng-container>

          <ng-template #noMapResults>
            <div class="my-4">
              There are no maps associated with this file.
            </div>
          </ng-template>
        </div>
      </div>
    </ng-container>
  </ng-template>
</ng-container>
