<form [formGroup]="form" (ngSubmit)="submit()">
  <app-modal-header (cancel)="cancel()">
    Reset password
  </app-modal-header>


  <app-modal-body>
    <p>Please enter the email associated with the account</p>
    <app-form-row for="email" label="Email" [control]="form.get('email')">
      <input type="text" formControlName="email" id="email" [appFormInput]="form.get('email')">
    </app-form-row>

  </app-modal-body>

  <app-modal-footer>
    <button type="button" class="btn btn-secondary mr-2" (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary">Reset</button>
  </app-modal-footer>
</form>
