<div class="module" appContainerBreakpoints>
  <div class="module-header">
    <!-- Title bar -->
    <div class="module-titlebar">
      <h1 class="module-title">
        File Browser
      </h1>
    </div>
  </div>

  <div class="flex-fill overflow-auto">
    <div class="module-body">
      <app-browser-project-list></app-browser-project-list>
    </div>
    <div class="module-body border-top">
      <app-browser-community-list></app-browser-community-list>
    </div>
    <div class="module-body border-top">
      <app-browser-recent-list></app-browser-recent-list>
    </div>
  </div>
</div>
