@import 'src/scss/variables';

#modalContainer {
  overflow: auto;
}

.warning {
  color: red;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.right-justified {
  margin-left:auto;
  margin-right:0;
  margin-bottom: 1rem;
}

.top-button {
  position: absolute;
  bottom: $window-spacer;
  right: $window-spacer;
  z-index: 100;
}

.table-container {
  display: inline-block;
  min-width: calc(100% - 2 * #{module-body-padding-x});
  margin: $module-body-padding-x;
}
