<div
  [formGroup]="columnDelimiterForm"
  fxLayout="column"
  fxLayoutGap="15px"
  fxLayoutAlign="start baseline"
>
  <div>Select column then select the delimiter the column uses.</div>
  <div
    fxLayout="row"
    fxLayoutGap="30px"
    fxLayoutAlign="start baseline"
  >
    <mat-form-field>
      <mat-select
        fxFlex="1 0"
        placeholder="Select column"
        formControlName="column"
      >
        <mat-option
          *ngFor="let column of columnHeaders"
          [value]="column"
        >
          {{ getKey(( column | keyvalue )) }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select
        fxFlex="1 0"
        placeholder="Select delimiter"
        formControlName="delimiter"
      >
        <mat-option
          *ngFor="let delimiter of delimiters"
          [value]="delimiter"
        >{{ delimiter }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button
        mat-stroked-button
        type="button"
        (click)="deleteDelimiterRow()"
      >Delete</button>
    </div>
  </div>
</div>
