<mat-horizontal-stepper [linear]="true">
  <mat-step [stepControl]="fileForm">
    <ng-template matStepLabel>Upload data file</ng-template>

    <div
      fxLayout="column"
      fxLayoutGap="30px"
    >
      <!-- upload file section -->
      <div
        id="neo4j-file-upload-box"
        fxLayout="column"
        fxLayoutGap="20px"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <div>
            <button
              mat-stroked-button
              id="choose-file-btn"
              type="button"
              [style.backgroundColor]="'white'"
              (click)="fileInput.click()"
            ><i class="fa fa-fw fa-file-upload"></i> Choose File</button>

            <input
              #fileInput
              id="file-upload-btn"
              type="file"
              name="file"
              style="display: none;"
              (change)="onFileChange($event)">
          </div>

          <!-- display file names -->
          <div *ngIf="fileName; else noFileSelected">File Selected: <span
            >{{ fileName }} <button id="remove-attach-file-btn" type="button" (click)="clearFilesField()">x</button></span>
          </div>
          <div><ng-template #noFileSelected>File Selected: None</ng-template></div>
        </div>

        <div class="redtext">Select the excel file to upload; allowed file extensions (.xlsx). Large files may take a minute or two to parse.</div>

        <div [formGroup]="fileForm">
          <mat-accordion>
            <mat-expansion-panel id="neo4j-crossref-expand" class="mat-elevation-z0">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-checkbox
                    formControlName="crossRef"
                    [checked]="false"
                  >Cross reference?</mat-checkbox>
                </mat-panel-title>
                <mat-panel-description>Click for details</mat-panel-description>
              </mat-expansion-panel-header>
              <p>
                Normal data files follow the standard excel spreadsheet format of column headers followed by rows of data.
                If the file does not adherd to this format, but more of a matrix (like a cross reference matrix), then select this option in order to parse and format the data correctly.
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>

      <div>
        <button
          mat-stroked-button
          type="button"
          (click)="uploadFile()"
        >Next</button>
      </div>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Select sheet</ng-template>
    <div fxLayout="column" fxLayoutGap="20px">
      <div
        fxLayout="row"
        fxLayoutGap="20px"
        style="max-width: 55%;"
      >
        <label>Choose which sheet to map:</label>
        <mat-select
          id="sheetname-dropdown"
          fxFlex="1 0"
          placeholder="Select sheet to upload"
          [(value)]="chosenSheetToMap"
        >
          <mat-option
            *ngFor="let sheet of (fileNameAndSheets$ | async)?.sheets"
            [value]="sheet"
          >{{sheet.sheetName}}</mat-option>
        </mat-select>
      </div>

      <div *ngIf="chosenSheetToMap">
        <div>If a column has a delimiter in its cell values, set them here.</div>
        <div>
          <button
            mat-stroked-button
            type="button"
            color="accent"
            (click)="addColumnDelimiterRow()"
          >Add Column Delimiter</button>
        </div>

        <div [formGroup]="columnDelimiterForm">
          <div formArrayName="columnDelimiters">
            <div *ngFor="let row of columnDelimiterForm.get('columnDelimiters')['controls']; let i=index">
              <div [formGroupName]="i">
                <app-user-file-import-column-delimiter-row
                  [columnHeaders]="chosenSheetToMap.sheetColumnNames"
                  [columnDelimiterForm]="columnDelimiterForm.get('columnDelimiters')['controls'][i]"
                  (deleteDelimiter)="deleteColumnDelimiterRow(i)"
                ></app-user-file-import-column-delimiter-row>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button
          mat-stroked-button
          type="button"
          (click)="goToMapColumns()"
        >Next</button>
      </div>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Map columns</ng-template>
    <app-user-file-import-column-mapping
      [chosenSheetToMap]="chosenSheetToMap"
      [columnsForFilePreview]="columnsForFilePreview"
      [columnDelimiterForm]="columnDelimiterForm"
      (nextStep)="goToMapRelationships()"
    ></app-user-file-import-column-mapping>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Map relationships</ng-template>
    <app-user-file-import-column-relationship-mapping
      [chosenSheetToMap]="chosenSheetToMap"
      [fileName]="fileName"
      [columnsForFilePreview]="columnsForFilePreview"
      [nodeMappingHelper]="nodeMappingHelper$ | async"
    ></app-user-file-import-column-relationship-mapping>
  </mat-step>
</mat-horizontal-stepper>
