<div
  [formGroup]="columnMappingForm"
  fxLayout="column"
  fxLayoutGap="15px"
  fxLayoutAlign="start baseline"
>
  <div>Add a new node type for a column, and map the column to an existing node type in the knowledge graph.</div>
  <div
    fxLayout="row"
    fxLayoutGap="30px"
    fxLayoutAlign="start baseline"
  >
    <div
      fxLayout="column"
      fxLayoutGap="10px"
    >
      <div
        fxLayout="row"
        fxLayoutGap="30px"
        fxLayoutAlign="start baseline"
      >
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Domain name"
            formControlName="domain"/>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            id="new-column-mapping-select-column-header-dropdown"
            fxFlex="1 0"
            placeholder="Select column to map"
            formControlName="columnNode"
          >
            <mat-option
              *ngFor="let column of columnHeaders"
              [value]="column"
            >{{ getKey((column | keyvalue)) }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="New node type"
            formControlName="newNodeLabel"/>
        </mat-form-field>
      </div>

      <div
        fxLayout="row"
        fxLayoutGap="30px"
        fxLayoutAlign="start baseline"
      >
        <mat-form-field>
          <mat-select
            id="new-column-mapping-select-existing-relationship-dropdown"
            fxFlex="1 0"
            placeholder="Select relationship column"
            formControlName="edge"
          >
            <mat-option
              *ngFor="let relationship of relationshipTypes"
              [value]="relationship"
            >{{ relationship }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            id="new-column-mapping-select-existing-node-type-dropdown"
            fxFlex="1 0"
            placeholder="Select existing node type"
            formControlName="mappedNodeLabel"
            (selectionChange)="selectExistingNodeType($event)"
          >
            <mat-option
              *ngFor="let nodeType of existingNodeLabels"
              [value]="nodeType"
            >{{ nodeType }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            id="new-column-mapping-select-existing-node-properties-dropdown"
            fxFlex="1 0"
            placeholder="Select existing node property"
            formControlName="mappedNodeProperty"
          >
            <span *ngIf="existingNodeProperties">
              <mat-option
                *ngFor="let nodeProp of existingNodeProperties[columnMappingForm.get('mappedNodeLabel').value]"
                [value]="nodeProp"
              >{{ nodeProp }}</mat-option>
            </span>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div>
      <button
        mat-stroked-button
        type="button"
        (click)="deleteMappingRow()"
      >Delete</button>
    </div>
  </div>
</div>
