#remove-attach-file-btn {
  color: red;
  font-weight: bold;
  font-size: 1em;
  background-color: transparent;
  border: none;
}

#neo4j-file-upload-box {
  padding: 10px;
  background-color: rgba(255, 171, 0, 0.08);
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  max-width: 55%;
}

#neo4j-crossref-expand {
  background-color: rgba(255, 171, 0, 0.08);
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
}
