<div
  [formGroup]="relationshipMappingForm"
  fxLayout="column"
  fxLayoutGap="15px"
  fxLayoutAlign="start baseline"
>
  <div>Map a relationship between node columns. First dropdown is source node, second dropdown/input is for relationship, third/fourth dropdown is target node.<br>
  If the relationship you're looking for is not available in the second dropdown, use the input to create a new relationship.</div>
  <div
    fxLayout="row"
    fxLayoutGap="30px"
    fxLayoutAlign="start baseline"
  >
    <div
      fxLayout="column"
      fxLayoutGap="10px"
    >
      <div
        fxLayout="row"
        fxLayoutGap="30px"
        fxLayoutAlign="start baseline"
      >
        <mat-form-field>
          <mat-select
            fxFlex="1 0"
            placeholder="Select source node column"
            formControlName="source"
          >
            <mat-option
              *ngFor="let column of columnHeaders"
              [value]="column"
            >{{ getKey((column | keyvalue)) }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- TODO: if select relationship from dropdown, clear input and vice versa -->
        <mat-form-field>
          <mat-select
            id="relationship-mapping-select-relationship-dropdown"
            fxFlex="1 0"
            placeholder="Select relationship column"
            formControlName="edge"
            [disabled]="disableRelationshipDropdown"
          >
            <mat-option
              *ngFor="let column of columnHeaders"
              [value]="column"
            >{{ getKey((column | keyvalue)) }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input
            #newRelationshipInput
            matInput
            type="text"
            placeholder="New relationship"
            formControlName="edge"
            (input)="relationshipInputChange()"/>
        </mat-form-field>
      </div>

      <div
        fxLayout="row"
        fxLayoutGap="30px"
        fxLayoutAlign="start baseline"
      >
        <mat-form-field>
          <mat-select
            id="relationship-mapping-select-column-header-dropdown"
            fxFlex="1 0"
            placeholder="Select target node column"
            formControlName="target"
          >
            <mat-option
              *ngFor="let column of columnHeaders"
              [value]="column"
            >{{ getKey((column | keyvalue)) }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            id="relationship-mapping-select-existing-node-type-dropdown"
            fxFlex="1 0"
            placeholder="Select target node type"
            formControlName="mappedNodeType"
            (selectionChange)="selectExistingNodeType($event)"
          >
            <mat-option
              *ngFor="let nodeType of dbNodeTypes"
              [value]="nodeType"
            >{{ nodeType }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            id="relationship-mapping-select-existing-node-properties-dropdown"
            fxFlex="1 0"
            placeholder="Select existing node property"
            formControlName="mappedNodeProperty"
          >
            <span *ngIf="existingNodeProperties">
              <mat-option
                *ngFor="let nodeProp of existingNodeProperties[relationshipMappingForm.get('mappedNodeType').value]"
                [value]="nodeProp"
              >{{ nodeProp }}</mat-option>
            </span>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div>
      <button
        mat-stroked-button
        type="button"
        (click)="deleteMappingRow()"
      >Delete</button>
    </div>
  </div>
</div>
