<form [formGroup]="form" (ngSubmit)="submit()">
  <app-modal-header (cancel)="cancel()">
    {{ title }}
  </app-modal-header>

  <app-modal-body>
    <app-form-row for="exporter" label="Format" [control]="form.get('exporter')">
      <select (ngModelChange)="setLinkedExportSupported()" class="custom-select" formControlName="exporter" id="exporter"
              [appFormInput]="form.get('exporter')" appAutoFocus>
        <option *ngFor="let exporter of exporters; let i = index" [value]="i">{{ exporter.name }}</option>
      </select>
    </app-form-row>

     <div class="custom-control custom-checkbox mt-2" [hidden]="!isLinkedExportSupported" >
      <input type="checkbox" class="custom-control-input" formControlName="exportLinked" id="exportLinked"
             [appFormInput]="form.get('exportLinked')">
      <label class="custom-control-label d-flex align-items-center"
             for="exportLinked" ngbTooltip="Include linked maps in the export">
        Export linked maps
      </label>
    </div>

  </app-modal-body>

  <app-modal-footer>
    <button type="button" class="btn btn-secondary mr-2" (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary">Export</button>
  </app-modal-footer>
</form>
