<form [formGroup]="form" (ngSubmit)="submit()">
  <app-modal-header (cancel)="cancel()">
    {{ title }}
  </app-modal-header>

  <app-modal-body>
    <app-form-row for="name" label="Name" [control]="form.get('name')">
      <input type="text" formControlName="name" id="name" [appFormInput]="form.get('name')"
             appAutoFocus [autoSelect]="true">
    </app-form-row>

    <app-form-row for="description" label="Description" [control]="form.get('description')">
      <textarea formControlName="description" id="description" [appFormInput]="form.get('description')"
                rows="10"></textarea>
    </app-form-row>
  </app-modal-body>

  <app-modal-footer>
    <button type="button" class="btn btn-secondary mr-2" (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save</button>
  </app-modal-footer>
</form>
