[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "==0.920"
pycodestyle = "==2.8.0"
pytest = "==7.1.0"

[packages]
neo4j = "==4.4.1"
redis = "==4.0.2"

[requires]
python_version = "3.10"
