app-annotation-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  // for proper height measurement
  display: block;
  pointer-events: none;

  &.active {
    pointer-events: all;
  }

  .popover {
    transform: translateY(-100%);
    margin-bottom: 5px;
    width: max-content;
    z-index: 1050 !important;
  }
}
