<form [formGroup]="form" (ngSubmit)="submit()">
  <app-modal-header (cancel)="cancel()">
    Exclude Annotation
  </app-modal-header>

  <app-modal-body>
    <app-form-row for="text" label="Text">
      <input type="text" class="form-control" id="text" [value]="text" disabled>
    </app-form-row>
    <app-form-row for="reason" label="Reason" [control]="form.get('reason')">
      <div class="custom-control custom-radio" *ngFor="let choice of reasonChoices; index as i">
        <input type="radio" id="reason-{{ i }}" name="reason" class="custom-control-input"
               (change)="chooseReason(choice, $event.target.checked)"
               [checked]="form.get('reason').value === choice">
        <label class="custom-control-label" for="reason-{{ i }}">{{ choice }}</label>
      </div>
    </app-form-row>

    <app-form-row for="comment" label="Comment">
      <input type="text" class="form-control" id="comment" formControlName="comment">
    </app-form-row>

    <div class="custom-control custom-checkbox mt-4" *ngIf="isGeneOrProtein">
      <input type="checkbox" class="custom-control-input" id="case-insensitivity" formControlName="isCaseInsensitive">
      <label class="custom-control-label" for="case-insensitivity">Exclude using case insensitivity</label>
    </div>

    <div class="custom-control custom-checkbox mt-4">
      <input type="checkbox" class="custom-control-input" id="exclude-globally" formControlName="excludeGlobally">
      <label class="custom-control-label" for="exclude-globally">Exclude this annotation from a global list</label>
    </div>

    <div *ngIf="form.get('excludeGlobally').value" class="text-muted mt-3">
      <i class="fas fa-info-circle"></i>
        Re-annotate other documents to incorporate this exclusion.
    </div>
  </app-modal-body>

  <app-modal-footer>
    <button type="button" class="btn btn-secondary mr-2" (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Create</button>
  </app-modal-footer>
</form>
