<div class="module" *ngIf="(loadTask.status$ | async) as status">
    <app-module-progress *ngIf="status.running">
         Downloading file...
    </app-module-progress>

    <app-module-error *ngIf="status.failedErrorShown" [error]="status.error">
        <a appLink="/projects">Go to Projects <i class="fa fa-fw fa-arrow-right"></i></a>
    </app-module-error>

    <ng-container *ngIf="status.resultsShown">
        <app-module-header [object]="object"
                           (dragStarted)="dragStarted($event)">
              <app-module-menu *ngIf="object" [object]="object" [forEditing]="true"
                               [showOpen]="false" [showDelete]="false"
                               (objectRefresh)="requestRefresh()">
              </app-module-menu>
            <div class="btn-group ml-auto mr-1 d-flex align-items-stretch">
                <div ngbDropdown container="body" class="d-flex align-items-stretch btn-group">
                    <button type="button" class="btn btn-secondary btn-sm" ngbDropdownToggle>
                        <i class="fa fa-fw fa-search"></i>
                    </button>
                    <div ngbDropdownMenu class="dropdown-menu">
                        <button class="dropdown-item" (click)="zoomActualSize()">
                            Actual Size
                        </button>
                        <button class="dropdown-item" (click)="fitToPage()">
                            Fit to Page
                        </button>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary"
                        [disabled]="!ready" (click)="zoomOut()" ngbTooltip="Zoom out"
                        placement="bottom">
                    <i class="fa fa-fw fa-search-minus"></i>
                </button>
                <button type="button" class="btn btn-secondary"
                        [disabled]="!ready" (click)="zoomIn()" ngbTooltip="Zoom in"
                        placement="bottom">
                    <i class="fa fa-fw fa-search-plus"></i>
                </button>
            </div>
            <div class="d-flex mr-1" style="min-width: 150px">
                <ng-container *ngIf="annotationHighlight != null; else textSearchControl">
                    <app-result-control
                            [value]="annotationHighlight.firstAnnotation ? annotationHighlight.firstAnnotation.meta.allText : annotationHighlight.id"
                            [annotationColor]="getAnnotationBackground(annotationHighlight.firstAnnotation)"
                            [resultIndex]="(pdfViewerLib?.currentHighlightAnnotationsIndex) || 0"
                            [resultCount]="annotationHighlight.found"
                            (previous)="annotationHighlightPrevious()" (next)="annotationHighlightNext()"
                            (enterPress)="annotationHighlightNext()"
                            (valueClear)="this.highlightAnnotations.next(null)">
                    </app-result-control>
                </ng-container>
                <ng-template #textSearchControl>
                    <app-search-control [(ngModel)]="searchQuery" (ngModelChange)="searchQueryChanged()"
                                        [searching]="searching || false"
                                        [resultIndex]="(matchesCount.current || 1) - 1"
                                        [resultCount]="matchesCount.total || 0"
                                        (previous)="findPrevious()" (next)="findNext()"
                                        #searchControl>
                    </app-search-control>
                </ng-template>
            </div>
            <div class="btn-group" role="group">
                <div ngbDropdown class="d-inline-block btn-group" #dropdown placement="bottom-right" container="body">
                    <button class="btn btn-secondary" [id]="id + '-filters-dropdown'" ngbDropdownToggle>
                        <i class="fa fa-fw fa-filter"></i>
                    </button>
                    <div ngbDropdownMenu [attr.aria-labelledby]="id + '-filters-dropdown'" [style.width]="'220px'"
                         class="dropdown-body dropdown-menu dropdown-menu-right">
                        <div class="mb-2">
                            <button *ngIf="!entityTypeVisibilityChanged" class="btn btn-outline-secondary btn-block"
                                    (click)="setAllEntityTypesVisibility(false)">
                                Hide All
                            </button>
                            <button *ngIf="entityTypeVisibilityChanged" class="btn btn-outline-secondary btn-block"
                                    (click)="setAllEntityTypesVisibility(true)">
                                Show All
                            </button>
                        </div>

                        <div *ngFor="let entityTypeEntry of sortedEntityTypeEntries"
                             [style.opacity]="entityTypeEntry.annotations.length ? '' : '0.2'">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox"
                                       [id]="id + 'filter-' + entityTypeEntry.type.id"
                                       value="1"
                                       [checked]="isEntityTypeVisible(entityTypeEntry.type)"
                                       (change)="changeEntityTypeVisibility(entityTypeEntry.type, $event)">
                                <label class="custom-control-label" [for]="id + 'filter-' + entityTypeEntry.type.id">
                <span class="entity-type-legend" [ngStyle]="{background: entityTypeEntry.type.color}">
              </span> {{entityTypeEntry.type.name}} <span *ngIf="!!entityTypeEntry.annotations.length">
                ({{entityTypeEntry.annotations.length}})
              </span>
                                </label>
                            </div>
                        </div>

                        <div class="mt-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" [(ngModel)]="showExcludedAnnotations"
                                       class="custom-control-input" [id]="id + '-showExcludedAnnotations'">
                                <label class="custom-control-label" [for]="id + '-showExcludedAnnotations'">Show
                                    excluded
                                    annotations</label>
                            </div>
                        </div>

                        <div class="mt-2">
                            <button class="btn btn-secondary btn-block" (click)="closeFilterPopup()">Done</button>
                        </div>
                    </div>
                </div>

            <button type="button" class="btn btn-secondary"
                    [disabled]="!ready"
                     [appLink]="[
                            '/file-navigator',
                            this.object.project.name,
                            this.object.hashId
                        ]"
                      [parentAddress]="[
                            '/projects',
                            this.object.project.name,
                            'files',
                            this.object.hashId
                      ]"
                      [newTab]="true" [sideBySide]="true" [forceWorkbench]="true" [openParentFirst]="true"
                    ngbTooltip="File Navigator" placement="bottom">
              <i class="fas fa-fw fa-compass"></i>
            </button>
        <div class="flex-fill overflow-hidden position-relative d-flex h-100">
            <div *ngIf="isPendingPostLoadAction()"
                 class="pending-scroll-box-container">
                <div class="pending-scroll-box floating-toolbar d-flex align-items-center flex-column">
                    <div>
                        <i class="fas fa-circle-notch fa-spin fa-3x"></i>
                    </div>
              </div>
            </div>
        </div>
    </div>
    </app-module-header>
        <div class="flex-fill overflow-hidden position-relative d-flex h-100">
            <div *ngIf="isPendingPostLoadAction()"
                 class="pending-scroll-box-container">
                <div class="pending-scroll-box floating-toolbar d-flex align-items-center flex-column">
                    <div>
                        <i class="fas fa-circle-notch fa-spin fa-3x"></i>
                    </div>
                    <div class="mt-2">
                        <ng-container *ngIf="isPendingScroll(); else pendingJump">
                            Finding place<br>in document...
                        </ng-container>
                        <ng-template #pendingJump>
                            <ng-container *ngIf="isPendingJump(); else pendingHighlight">
                                Finding snippet<br>in document...
                            </ng-container>
                        </ng-template>
                        <ng-template #pendingHighlight>
                            Finding entity<br>in document...
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="flex-fill overflow-auto pdf-viewer-lib-wrapper" [id]="id + '-pdf-viewer-lib-wrapper'">
                <div *ngIf="ready">
                    <!-- PDF Viewer -->
                    <lib-pdf-viewer-lib
                            tabindex=0
                            id='pdf-viewer'
                            appPdfViewer
                            [pdfSrc]="pdfData"
                            [annotations]="annotations"
                            [goToPosition]="goToPosition"
                            (goToPositionVisit)="goToPositionVisit($event)"
                            [highlightAnnotations]="highlightAnnotationIds"
                            [addedAnnotations]="addedAnnotations"
                            [removedAnnotationIds]="removedAnnotationIds"
                            [addedAnnotationExclusion]="addedAnnotationExclusion"
                            [entityTypeVisibilityMap]="entityTypeVisibilityMap"
                            [filterChanges]="filterChangeSubject"
                            [searchChanged]="searchChanged"
                            [showExcludedAnnotations]="showExcludedAnnotations"
                            [removedAnnotationExclusion]="removedAnnotationExclusion"
                            (matches-count-updated)="matchesCountUpdated($event)"
                            (annotationDragStart)="addAnnotationDragData($event)"
                            (annotation-exclusion-added)="annotationExclusionAdded($event)"
                            (annotation-exclusion-removed)="annotationExclusionRemoved($event)"
                            (custom-annotation-created)="annotationCreated($event)"
                            (loadCompleted)="loadCompleted($event)"
                            (custom-annotation-removed)="annotationRemoved($event)"
                            (searchChange)="searchQueryChangedFromViewer($event)"
                            (annotationHighlightChange)="annotationHighlightChangedFromViewer($event)"
                    >
                    </lib-pdf-viewer-lib>
                </div>
            </div>
        </div>
    </ng-container>
</div>
