<as-split unit="pixel" direction="horizontal" [gutterSize]="5">
  <as-split-area [order]="0">
    <div class="h-100 position-relative">
      <div class="viz-canvas-legend-wrapper">
        <app-legend [legend]="legend"></app-legend>
      </div>

      <app-visualization-settings
        [legendLabels]="legendLabels"
        (settingsFormChanges)="updateSettings($event)"
        (fitClickEvent)="fitToScreen($event)"
      ></app-visualization-settings>

      <div [id]="networkContainerId" class="h-100"></div>

      <!-- This isn't visible unless the user has right-clicked to open the context menu -->
      <app-context-menu
        [tooltipOptions]="contextMenuTooltipOptions"
        [selectedNodeIds]="selectedNodes"
        [selectedEdgeIds]="selectedEdges"
        [selectedNodeEdgeLabelData]="selectedNodeEdgeLabelData"
        [selectedClusterNodeData]="selectedClusterNodeData"
        (groupNeighborsWithRelationship)="
          groupNeighborsWithRelationship($event)
        "
        (removeNodes)="removeNodes($event)"
        (removeEdges)="removeEdges($event)"
        (selectNeighbors)="selectNeighbors($event)"
        (pullOutNodeFromCluster)="removeNodeFromCluster($event)"
        (openDataSidebar)="updateSidenavEntity()"
        (openTypeSidebar)="openTypeSidenav($event)"
      ></app-context-menu>
    </div>
  </as-split-area>
  <as-split-area *ngIf="sidenavOpened" size="640" [order]="1">
    <div id="sidenav-container">
      <div id="sidenav-panel-btns-container">
        <button id="sidenav-panel-close-btn"
                type="button"
                class="btn btn-danger"
                (click)="closeSidenav()">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <!-- Each switch case appears to be lazy loaded, so switching between two cases will destroy the old case, and create the new case. -->
      <div [ngSwitch]="sidenavEntityType">
        <div *ngSwitchCase="sidenavEntityTypeEnum.TYPE">
          <app-sidenav-type-view
            [legend]="legend"
            [nodeEntity]="sidenavEntity"
          ></app-sidenav-type-view>
        </div>
        <div *ngSwitchCase="sidenavEntityTypeEnum.NODE">
          <app-sidenav-node-view
            [legend]="legend"
            [nodeEntity]="sidenavEntity"
          ></app-sidenav-node-view>
        </div>
        <div *ngSwitchCase="sidenavEntityTypeEnum.EDGE">
          <app-sidenav-edge-view
            [edgeEntity]="sidenavEntity"
            [isNewEntity]="isNewEdgeSidenavEntity"
            [error]="getSnippetsError"
            [legend]="legend"
            (requestNewPageEmitter)="requestNewEdgeSnippetsPage($event)"
          ></app-sidenav-edge-view>
        </div>
        <div *ngSwitchCase="sidenavEntityTypeEnum.CLUSTER">
          <app-sidenav-cluster-view
            [clusterEntity]="sidenavEntity"
            [isNewEntity]="isNewClusterSidenavEntity"
            [error]="getSnippetsError"
            [legend]="legend"
            (requestNewPageEmitter)="requestNewClusterSnippetsPage($event)"
          ></app-sidenav-cluster-view>
        </div>
        <div *ngSwitchCase="sidenavEntityTypeEnum.EMPTY">
          <h1>Canvas Data View</h1>
          <h4>
            (Right-click something on the canvas and select "Show Data in
            Sidenav" to see some data!)
          </h4>
        </div>
      </div>
    </div>
  </as-split-area>
</as-split>
