<div class="h-100 shadow bg-white" [ngClass]="routeBuilderContainerClass">
  <button class="toggle-route-builder-button border border-primary rounded-left border-right-0 bg-secondary px-3 d-flex align-items-center"
          (click)="toggleRouteBuilderOpen()">
    <i [ngClass]="routeBuilderOpen ? 'fa fa-caret-right' : 'fa fa-caret-left'"></i>
  </button>
  <div class="bg-primary p-4 w-100 d-flex flex-column">
    <div class="w-100 mb-2 d-flex">
      <div class="graph-type-btn-container">
        <button class="h-100 w-100 btn btn-primary border-0 rounded-circle d-flex justify-content-center align-items-center"
                ngbTooltip="Network"
                placement="bottom top left right"
                (click)="requestChangeDisplayTypeFromParent('NETWORK')">
          <i class="fa fa-project-diagram text-white"></i>
        </button>
      </div>
      <div class="graph-type-btn-container">
        <button class="h-100 w-100 btn btn-primary border-0 rounded-circle d-flex justify-content-center align-items-center"
                ngbTooltip="Sankey"
                placement="bottom top left right"
                (click)="requestChangeDisplayTypeFromParent('SANKEY')">
          <i class="fas fa-stream text-white"></i>
        </button>
      </div>
    </div>
    <div *ngIf="(loadShortestPathQueries?.status$ | async) as status">
      <div *ngIf="status.placeholdersShown" class="d-flex justify-content-start">
        <div class="d-flex justify-content-center align-items-center mr-2">
          <i class="fa fa-spinner fa-spin text-white"></i>
        </div>
        <p class="text-white m-0 d-flex align-items-center">Loading pre-defined queries...</p>
      </div>
      <div *ngIf="status.failedErrorShown" class="d-flex justify-content-start">
        <div class="fa-stack fa-lg mr-2" style="width: 20px;">
          <i class="fas fa-circle fa-stack-1x text-white"></i>
          <i class="fas fa-exclamation-circle fa-stack-1x fa-inverse text-danger"></i>
        </div>
        <p class="text-white m-0 d-flex align-items-center">Could not load pre-defined shortest path queries!</p>
      </div>
      <div *ngIf="status.resultsShown && !status.failedErrorShown">
        <label class="text-white">Pre-defined Queries:</label>
        <select class="custom-select" (change)="requestQueryLoadFromParent($event)">
          <option *ngFor="let query of queries" [value]="query[0]">{{ query[1] }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
