.dropdown-menu {
  box-shadow: $dropdown-menu-box-shadow;
}

.dropdown-body {
  padding: $spacer;
}

.dropdown-no-arrow {
  &::after {
    display: none;
  }
}
.dropdown-section-divider {
  margin-top: $dropdown-divider-margin-y * 2;
  box-shadow: inset 0 2px 5px $dropdown-divider-bg;
  height: 7px;
}

.context-menu-body {
  z-index: $zindex-dropdown + 50;
}
