.nav-workspace-tabs {
  display: flex;
  border-bottom: 1px solid $gray-300;
  min-height: 50px;
  background: $gray-200 linear-gradient($gray-200 90%, $gray-300 100%);

  .nav {
    display: flex;
    align-self: flex-end;
    align-items: start;
    flex-wrap: nowrap;
    min-width: 0;
    padding: 0.5rem 0.5rem 0;
    overflow-x: auto;
    overflow-y: hidden;

    .nav-item {
      margin-bottom: -1px;
      min-width: 100px;
    }

    .nav-link {
      width: 100%;
      height: 100%;
      border: 1px solid transparent;
      cursor: pointer;
      position: relative;

      &:not(.active) {
        // Add a divider between tabs
        &:after {
          display: block;
          position: absolute;
          top: 20%;
          left: 0;
          bottom: 20%;
          width: 1px;
          background: $gray-500;
          content: '';
        }
      }

      &, a {
        &, &:link, &:visited {
          color: $body-color;
        }

        &:hover, &:active {
          text-decoration: none;
        }
      }

      &:hover {
        border: 1px solid rgba($gray-300, 0.4);
        border-bottom: 1px solid #fff;
        background: rgba($white, 0.4);
        border-top-left-radius: $nav-tabs-border-radius;
        border-top-right-radius: $nav-tabs-border-radius;
      }

      &.active {
        border: 1px solid $gray-300;
        border-bottom: 1px solid #fff;
        background: $white;
        border-top-left-radius: $nav-tabs-border-radius;
        border-top-right-radius: $nav-tabs-border-radius;
        box-shadow: 0 -1px 1px rgba($gray-900, 0.05);
      }
    }

    // Hide the divider between tabs in some cases
    .nav-item:first-child,
    .nav-item:hover,
    .nav-item:hover + .nav-item,
    .nav-item.active + .nav-item {
      .nav-link {
        &:after {
          display: none;
        }
      }
    }
  }

  &.compressed-tabs {
    .nav-link {
      padding: $nav-link-padding-y ($nav-link-padding-x / 2);
    }
  }
}

.nav-sidebar-tabs {
  background: $window-header-bg;
  border-color: $window-border-color;
  padding: ($spacer * 0.5) ($spacer * 0.5) 0;

  a.nav-link {
    color: inherit;
  }
}
