.toolbar {
  position: relative;
  background: $toolbar-bg;
  padding: $toolbar-padding;
  border-bottom: $toolbar-border-width solid $toolbar-border-color;
  border-bottom-left-radius: $border-radius;
  box-shadow: $toolbar-box-shadow;
  z-index: 10;

  .btn {
    font-size: $font-size-base * .95;
  }
}

.toolbar-header {
  padding: 0.25rem 0;
  margin: 0 0 0.25rem 0;
}

.toolbar-title {
  margin: 0;
  padding: 0;
  font-size: $font-size-base * 1.3;
  font-weight: bold;
}

.floating-toolbar {
  background: $floating-toolbar-bg;
  padding: $floating-toolbar-padding;
  border: 1px solid $floating-toolbar-border-color;
  border-radius: $floating-toolbar-border-radius;
}

.btn-group {
  // Prevent double borders when buttons are next to each other
  > .btn:not(:first-child),
  > .btn-group:not(:first-child) {
    margin-left: $btn-border-width;
    border-left: $btn-border-width transparent;
  }
}
